<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body class="eventDetail">
  <%- include('partials/header') %> 

    <main class="container my-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= event.name %></li>
        </ol>
      </nav>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-center">
                <h5 class="alert alert-primary"><%= event.activity.name %></h5>
            </div>
            <div class="col-12 col-md-10 mt-4">
              <div class="row ">
                <div class="col-12 col-md-10">
                  <h3 class="card-title"><%= event.name %></h3>
                  <h6 class="card-subtitle mb-2 text-muted">Fecha: <%= date %> </h6>
                  <h6 class="card-subtitle mb-2 text-muted">Modalidad: <%= event.modality %></h6>
                </div>
                <div class="col-12 col-md-2 d-flex justify-content-around">
                  <div>
                    <a href="/records/create-excel/<%= event.id %>" class="btn btn-success" title="Descargar excel" id="btn-download"><i class="fas fa-download"></i></a>
                  </div>
                  <div>
                    <a href="/events/edit/<%= event.id %> " class="btn btn-secondary" title="Editar evento"><i class="fas fa-edit"></i></a>
                  </div>
                  <div>
                    <form id="formDelete" action="/events/remove/<%= event.id %>?_method=delete" method="post">
                      <button type="submit" class="btn btn-danger" onclick="confirmRemove(event,document.querySelector('#formDelete'))"><i class="fas fa-trash-alt" ></i></button>                
                    </form>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                  <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Link de inscripción</label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" value="<%= event.link.route %>" disabled id="record">
                      <button type="button" id="btnRecord" class="btn btn-secondary" onclick="copiarAlPortapapeles('record')">copiar</button>
                    </div>
                  </div>
                  <% if (event.modality === "virtual") { %>
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Link de conexión</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" value="<%= event.connection %>" disabled id="connection">
                      </div>
                  <% }else{ %>
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Lugar del evento</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" value="<%= event.location %>" disabled id="location">
                      </div>
                  <% } %>
                  </div>
              </div>
             
            </div>
          </div>
          <div class="row p-3">
            <h4>Inscriptos:</h4>
            <hr>
            <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col" class="oculto">Género</th>
                  <th scope="col" class="oculto">Fecha de Nacicimiento</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Celular</th>
                  <th scope="col">País</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">Acción</th>

                </tr>
              </thead>
              <tbody>
                <% event.records.forEach((record,index) => { %>
                  <tr>
                    <th scope="row"><%= index + 1 %> </th>
                    <td><%= record.name %> </td>
                    <td><%= record.surname %> </td>
                    <td class="oculto"><%= record.genre %> </td>
                    <td class="oculto" id="birthday<%= record.id %>"><script>document.getElementById('birthday<%=record.id%>').innerHTML = moment('<%= record.birthday%>').parseZone().local().format('DD/MM/YYYY')</script></td>
                    <td><%= record.email %> </td>
                    <td><%= record.phone %> </td>
                    <td><%= record.country %> </td>
                    <td><%= record.city %> </td>
                    <td><a class="btn btn-sm btn-danger"><i class="fas fa-trash-alt" ></i></a></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          </div>
         
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/detailEvent.js"></script>
</body>
</html>